<!DOCTYPE html>
<html lang="en">
<head>
    <style>

    </style>
</head>
<body>
    
    <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.double_lose.label}} {{form.double_lose()}} 
    {{ form.no_posi.label}} {{form.no_posi()}}
    {{ form.lose_rate.label}} {{form.lose_rate()}}
    {{ form.win_rate.label}} {{form.win_rate()}}
    {{ form.no_cc.label}} {{form.no_cc()}}
    {{ form.no_deal.label}} {{form.no_deal()}}
    {{ form.all_ad.label}} {{form.all_ad()}}
    {{ form.all_ap.label}} {{form.all_ap()}}
    {{ form.win_lane.label}} {{form.win_lane()}}
    {{ form.bad_vscomp.label}} {{form.bad_vscomp()}}

    <br><br>
    {{ form.submit() }}
    </form>
    
</body>
</html>





